.cost {
  padding-top: 145px;

  color: #ffffff;
}

.cost__wrapper {
  width: $mobile-width;
  padding: $content-padding;
  padding-bottom: 52px;
  margin: 0 auto;

  background-color: #a62f75;
  background-image: url(../img/idea-bg-mobile.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.cost__photo {
  margin-top: -145px;
  margin-bottom: 30px;
}

.cost__header {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}

.cost__info {
  margin: 0;
  margin-bottom: 38px;
}

.cost__order {
  // margin-bottom: 48px;
}
.cost__price-wrapper {
  margin: 0;
  margin-bottom: 50px;
}

.cost__price {
  display: block;
  margin-bottom: 23px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 100;
}

.cost__price-caption {
  padding-bottom: 3px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 100;

  border-bottom: 1px solid #ffffff;
}

@media (min-width: $tablet-width) {
  .cost {
    padding-top: 46px;
    margin-bottom: 86px;
  }

  .cost__wrapper {
    width: 720px;
    padding: 0 32px 55px;

    background-image: url(../img/idea-bg-tablet.jpg);
  }

  .cost__photo {
    float: left;
    margin-top: -46px;
    margin-left: 18px;
    margin-right: 80px;
  }

  .cost__header {
    padding-top: 48px;
  }

  .cost__info {
    margin-bottom: 50px;
  }

  .cost__order {
    clear: both;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .cost__price {
    margin-bottom: 0;
    margin-right: 25px;
  }

  .cost__price-caption {
    width: 220px;
    margin-top: 2px;
    padding-bottom: 5px;
  }

  .cost__button {
    width: 214px;
  }

  .cost__price-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .cost {
    padding-top: 29px;
  }

  .cost__wrapper {
    width: 1140px;
    padding-left: 27px;

    background-image: url(../img/idea-bg-desktop.jpg);
  }

  .cost__header {
    padding-top: 57px;
  }

  .cost__info {
    margin-right: 50px;
    margin-bottom: 20px;
  }

  .cost__photo {
    margin-top: -29px;
    margin-left: 0;
    margin-right: 62px;
  }

  .cost__order {
    clear: none;
    align-items: flex-end;
    margin-right: 30px;
  }

  .cost__price-wrapper {
    align-items: flex-start;

  }

  .cost__price {
    margin-right: 38px;
  }

  .cost__price-caption {
    margin-top: 11px;
  }

}
