.departure__header {
  margin: 0;
  margin-bottom: 26px;
  padding: $content-padding;
  padding-top: 43px;

  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
  letter-spacing: -0.2px;
}

.departure__wrapper {
  display: flex;
  flex-direction: column;
}

.departure__newsletter {
  padding: $content-padding;
  order: 1;
}

.departure__description {
  padding: $content-padding;
  padding-bottom: 22px;
}

.departure__description p {
  margin: 0;
  margin-bottom: 24px;
}

.departure__link {
  font-weight: normal;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .departure__wrapper {
    width: $tablet-width;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }


  .departure__header {
    width: 500px;
    padding-top: 73px;
    margin-bottom: 60px;

    font-size: 48px;
    line-height: 57px;
  }

  .departure__newsletter {
    order: 0;
    margin-left: 16px;
  }

  .departure__description {
    width: 374px;
    margin-top: -7px;
  }
}

@media (min-width: $desktop-width) {
  .departure__wrapper {
    width: $desktop-width;
  }

  .departure__header {
    font-size: 60px;
    line-height: 68px;
  }
}
