.departure__header {
  font-size: 36px;
  line-height: 44px;
  font-weight: bold;
}

.departure__link {
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .departure__header {
    font-size: 48px;
    line-height: 54px;
  }

}

@media (min-width: $desktop-width) {
  .departure__header {
    font-size: 60px;
    line-height: 68px;
  }
}
