.departure__header {
  margin: 0;
  margin-bottom: 24px;
  padding: $content-padding;

  font-size: 36px;
  line-height: 44px;
  font-weight: bold;
  letter-spacing: -0.2px;
}

.departure__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  background-color: #76258f;
  background-image: url(../img/launch-bg-mobile.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.departure__newsletter {
  padding: $content-padding;
  order: 1;
}

.departure__description {
  padding: $content-padding;
  padding-bottom: 22px;
}

.departure__description p {
  margin: 0;
  margin-bottom: 24px;
}

.departure__link {
  font-weight: normal;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .departure__wrapper {
    width: $tablet-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .departure__header {
    flex-grow: 1;

    font-size: 48px;
    line-height: 54px;
  }

  .departure__description {
    width: 345px;
  }
}

@media (min-width: $desktop-width) {
  .departure__wrapper {
    width: $desktop-width;
  }

  .departure__header {
    font-size: 60px;
    line-height: 68px;
  }
}
