.facts {
  background-color: #fff5f8;
}

.facts__wrapper {
  width: $mobile-width;
  padding: $content-padding;
  margin: 0 auto;
}

.facts__list {
  @include reset-list-style;

  white-space: nowrap;
  overflow-x: scroll;
}

.facts__item {
  width: 150px;
  display: inline-flex;
  flex-direction: column;

  font-size: 13px;
  line-height: 18px;
  white-space: normal;
}

.facts__highlight {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #e12457;
}

@media (min-width: $tablet-width) {
  .facts__highlight {
    font-size: 48px;
    line-height: 48px;
  }
}
