.facts__item {
  font-size: 13px;
  line-height: 18px;
}

.facts__highlight {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #e12457;
}

@media (min-width: $tablet-width) {
  .facts__highlight {
    font-size: 48px;
    line-height: 48px;
  }
}
