.life__wrapper {
  width: $mobile-width;
  padding: $content-padding;
  padding-top: 48px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.life__header {
  margin: 0;
  margin-bottom: 28px;

  font-size: 36px;
  line-height: 44px;
  color: #e12457;
  font-weight: bold;
  letter-spacing: -0.1px;
}

@media (min-width: $tablet-width) {
  .life__wrapper {
    width: $tablet-width;
    margin-bottom: 4px;
    padding-top: 54px;
  }

  .life__header {
    margin-bottom: 82px;

    font-size: 48px;
    line-height: 54px;
  }
}

@media (min-width: $desktop-width) {
  .life__wrapper {
    width: $desktop-width;
    padding-top: 100px;
    margin-bottom: 30px;
  }

  .life__header {
    font-size: 60px;
    line-height: 68px;
  }
}
