.life-tabs {
  position: relative;

  padding-left: 28px;
  padding-bottom: 10px;
}





.life-tabs__tab-name {
  position: relative;

  display: flex;
  align-items: center;
  padding-bottom: 31px;
  margin-left: 7px;

  // font-size: 20px;
  font-size: 0;
  line-height: 24px;
  font-weight: bold;
  color: #e12457;

  cursor: pointer;
}

.life-tabs__tab-name::before {
  content: '';

  position: absolute;
  left: -26px;
  top: 0;

  width: 3px;
  height: 100%;

  background-color: #e12457;
}

.life-tabs input:checked + .life-tabs__tab-name {
  font-size: 20px;
  padding-bottom: 25px;
}

.life-tabs__tab-name::after {
  content: '';

  position: absolute;
  left: -32px;
  top: 0;

  width: 16px;
  height: 16px;

  border-radius: 50%;
  border: 3px solid #e12457;
  background-color: #ffffff;
}

.life-tabs input:checked + .life-tabs__tab-name::after {
  background-color: #e12457;
}

.life-tabs__tab-name:last-of-type::before {
  display: none;
}

.life-tabs__tab-name span {
  margin-left: 16px;
}

.life-tabs__tab-name svg {
  fill: #e12457;
}

.life-tabs__image {
  margin-bottom: 22px;
}

.life-tabs__header {
  margin: 0;
  margin-bottom: 13px;

  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.life-tabs__content {
  position: relative;
  display: none;
  padding-bottom: 40px;
}

.life-tabs__content::after {
  content: '';

  position: absolute;
  left: -19px;
  top: 0;

  width: 3px;
  height: 100%;

  background-color: #e12457;
}

.life-tabs__content:last-of-type::after {
  display: none;
}

.life-tabs__description {
  margin-bottom: 32px;
}

.life-tabs__description p {
  margin: 0;
  margin-bottom: 10px;
}

.life-tabs #life-tab1:checked ~ #life-article1,
.life-tabs #life-tab2:checked ~ #life-article2,
.life-tabs #life-tab3:checked ~ #life-article3,
.life-tabs #life-tab4:checked ~ #life-article4,
.life-tabs #life-tab5:checked ~ #life-article5, {
  display: block;
}

.life-tabs__button {
  display: inline-block;
}


@media (min-width: $tablet-width) {
  .life-tabs {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding-left: 0;
  }

  .life-tabs__tab-name {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 7px;
    padding-bottom: 0;
    order: 1;
    flex-grow: 1;
    justify-content: flex-start;
  }

  .life-tabs__tab-name::before {
    content: '';

    position: absolute;
    left: 21px;
    top: -18px;

    width: 100%;
    height: 3px;

    background-color: #e12457;
  }

  .life-tabs__tab-name::after {
    left: 12px;
    top: -24px;
  }

  .life-tabs input:checked + .life-tabs__tab-name {
    width: 220px;
    margin-bottom: 0;
    padding-bottom: 0;
    justify-content: flex-start;
  }

  .life-tabs__content {
    order: 99;
    margin-top: 37px;
  }

  .life-tabs__content::after {
    display: none;
  }

  .life-tabs__image {
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {

}
