.logo {
  display: flex;
  align-items: center;

  font-size: 13px;
  line-height: 13px;
  font-weight: 100;
  color: #ffffff;
  text-decoration: none;
}

.logo__image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}



.logo__caption {
  margin: 0;
}

.logo__project-name {
  display: block;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

.logo--white {
  font-size: 10px;
  line-height: 14px;
}

.logo--white .logo__image {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}


.logo--white .logo__project-name {
  font-size: 14px;
  line-height: 14px;
}

@media (min-width: $tablet-width) {
  .logo {
    font-size: 16px;
    line-height: 21px;
  }

  .logo__image {
    width: 49px;
    height: 49px;
  }

  .logo__caption {
    margin-top: 4px;
  }

  .logo__project-name {
    font-size: 21px;
    font-weight: 600;
  }

  .logo--white {
    font-size: 10px;
    line-height: 14px;
  }

  .logo--white .logo__project-name {
    font-size: 14px;
  }
}

@media (min-width: $desktop-width) {
  .logo--white {
    font-size: 13px;
    line-height: 17px;
  }

  .logo--white .logo__project-name {
    font-size: 17px;
  }
}
