.page-footer {
  background-color: #76258f;
  color: #ffffff;
}
.page-footer__wrapper {
  width: $mobile-width;
  padding: $content-padding;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  order: 1;
}

.page-footer__social-links {
  order: -1;
}

.page-footer__info-link {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  opacity: 0.5;
}


@media (min-width: $tablet-width) {
  .page-footer__info-link {
    font-size: 16px;
  }
}
