.page-header {
  padding-top: 18px;

  background-color: #831661;
  background-image:
    url(../img/hero-mobile.jpg),
    linear-gradient(to right, #7a166d, #971552);
  background-position: top center;
  background-repeat: no-repeat;
}

.page-header__wrapper {
  position: relative;

  width: $mobile-width;
  padding: $content-padding;
  padding-bottom: 160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-header__wrapper::after {
  content: "";

  position: absolute;
  bottom: 27px;
  left: 50%;

  width: 59px;
  height: 59px;

  border-radius: 50%;
  background-color: rgba(225, 36, 87, 0.5);
  background-image: url(../img/icon-down.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;

  transform: translateX(-50%);

}

.page-header__top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 87px;
}

.page-header__nav {
  display: none;
}

.page-header__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 208px;
  margin: 0 auto;
  margin-bottom: 38px;

  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.page-header__toggle {
  margin: 0;
  padding: 0;
  border: none;
  width: 47px;
  height: 18px;
  background-color: transparent;
}

.page-header__toggle:hover {
  cursor: pointer;
}

.page-header__toggle svg {
  fill: #ffffff;
}

.page-header__toggle:hover svg {
  fill: #e12457;
}

.page-header__toggle span {
  display: none;
}

.page-header__title span:nth-child(1) {
  font-weight: 100;
}

.page-header__title span:nth-child(2) {
  font-weight: normal;
}

.page-header__title span:nth-child(3) {
  margin-top: 6px;

  font-size: 70px;
  line-height: 70px;
  font-weight: 900;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 25px;

    background-image:
      url(../img/hero-tablet.jpg),
      linear-gradient(to right, #7a166d, #971552);
  }

  .page-header__top-bar {
    align-items: flex-start;
    margin-bottom: 190px;
  }

  .page-header__wrapper {
    padding-bottom: 163px;
    width: $tablet-width;
  }

  .page-header__wrapper::after {
    content: "";

    bottom: 37px;

    width: 75px;
    height: 75px;
  }

  .page-header__toggle {
    width: 116px;
    margin-top: 5px;
    display: flex;
    align-items: center;

  }

  .page-header__toggle span {
    display: block;
    margin-right: 17px;

    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
  }

  .page-header__title {
    width: 470px;
    margin-bottom: 70px;

    font-size: 30px;
    line-height: 30px;
  }

  .page-header__title span:nth-child(1) {
    letter-spacing: 0.5px;
  }

  .page-header__title span:nth-child(2) {
    letter-spacing: 0.5px;
  }

  .page-header__title span:nth-child(3) {
    margin-top: 0;
    margin-left: -6px;
    font-size: 157px;
    line-height: 148px;
    letter-spacing: 1px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 34px;

    background-image:
      url(../img/hero-desktop.jpg),
      linear-gradient(to right, #711573, #6e1a80);
  }

  .page-header__wrapper {
    width: $desktop-width;
    padding-bottom: 158px;
  }

  .page-header__wrapper::after {
    left: 53px;
    bottom: 66px;
  }

  .page-header__top-bar {
    margin-bottom: 178px;
  }

  .page-header__title {
    width: 585px;
    margin-bottom: 27px;

    font-size: 37px;
    line-height: 37px;
  }

  .page-header__title span:nth-child(3) {
    font-size: 195px;
    line-height: 168px;
  }
}
