.page-footer {
  color: #ffffff;
}

.page-footer__wrapper {
  width: $mobile-width;
  margin: 0 auto;

  background-color: #76258f;
  background-image: url(../img/launch-bg-mobile.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.page-footer__links-wrapper {
  padding: $content-padding;
  padding-top: 35px;
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  order: 1;
}

.page-footer__social-links {
  order: -1;
}

.page-footer__info {
  margin: 0;
  margin-bottom: 40px;
}

.page-footer__info-link {

  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  opacity: 0.5;
}


@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: $tablet-width;

    background-image: url(../img/launch-bg-tablet.jpg);
  }


  .page-footer__links-wrapper {
    padding-top: 87px;
    padding-bottom: 52px;
    width: $tablet-width;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .page-footer__logo {
    order: 0;
  }

  .page-footer__social-links {
    order: 0;
  }

  .page-footer__info {
    margin-bottom: 0;
  }

  .page-footer__info-link {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: $desktop-width;
  }
}
