.rocks-tabs {
  position: relative;
}

.rocks-tabs__header {
  margin: 0;
}

.rocks-tabs input[name="rocks-sections"]:checked ~ label {
  font-weight: bold;
  color: #ffffff;
}

.rocks-tabs input[name="rocks-sections"]:checked ~ article {
  display: block;
}

.rocks-tabs__tab-name {
  position: relative;
  display: block;
  margin-bottom: 40px;
  padding-right: 30px;

  font-family: $font-secondary;
  font-weight: normal;
  color: #908bb1;
  cursor: pointer;
}

.rocks-tabs input[name="rocks-sections"]:checked + .rocks-tabs__tab-name {
  margin-bottom: 33px;
}

.rocks-tabs__tab-name svg {
  position: absolute;
  top: 50%;
  right: 0;

  margin-bottom: 33px;

  fill: #ffffff;
  opacity: 0.4;
  transform: translateY(-50%);
}

.rocks-tabs__content {
  display: none;
  margin-bottom: 50px;
}

.rocks-tabs__content p {
  margin: 0;
  margin-bottom: 12px;
}



@media (max-width: $tablet-width) {
    .rocks-tabs__header {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  input[name="rocks-sections"]:checked ~ .rocks-tabs__tab-name svg {
      transform: translateY(-50%) rotate(270deg);
      opacity: 1;
      right: 5px;
  }

}

@media (min-width: $tablet-width) {
  .rocks-tabs {
    min-height: 409px;
  }

  .rocks-tabs__header {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
  }

  .rocks-tabs__tab-name {
    position: relative;

    width: 220px;
    padding-right: 20px;
    margin-bottom: 40px;
  }

  .rocks-tabs input[name=rocks-sections]:checked+.rocks-tabs__tab-name {
    margin-bottom: 55px;
}

  .rocks-tabs__content {
    position: absolute;
    top: 4px;
    left: 288px;
  }

  input[name="rocks-sections"]:checked ~ .rocks-tabs__tab-name svg {
      filter: drop-shadow(5px 0px 0px rgba(255, 255, 255, 0.5)) drop-shadow(10px 0px 0px rgba(255, 255, 255, 0.2));
  }
}
