.social-links__list {
  @include reset-list-style;
  margin: 0;
  margin-bottom: 33px;
  display: flex;
}

.social-links__item {
  margin: 0 5px;
}

.social-links__item a {
  display: block;
}

.social-links__item svg {
  display: block;
}

.social-links__text {
  display: none;
}

@media (min-width: $tablet-width) {
  .social-links {
    width: 312px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-links__text {
    display: block;
    margin: 0;

    font-size: 14px;
    font-weight: normal;
  }

  .social-links__list {
    margin-bottom: 0;
  }

  .social-links__item:last-child {
    margin-right: 0;
  }
}
