.underwater-rocks {
  color: #ffffff;
}

.underwater-rocks__wrapper {
  width: $mobile-width;
  padding: $content-padding;
  padding-top: 58px;
  padding-bottom: 16px;
  margin: 0 auto;

  background-color: #19153f;
  background-image: url(../img/underwater-rocks-bg-mobile.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.underwater-rocks__header {
  margin: 0;
  margin-bottom: 42px;

  font-size: 36px;
  line-height: 44px;
  font-weight: bold;
}

.underwater-rocks__video {
  position: relative;

  margin: 0;
  margin-bottom: 38px;
}

.underwater-rocks__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 52px;
  height: 52px;
  padding: 0;
  margin: 0;

  background-color: transparent;
  border: none;

  transform: translate(-50%,-50%);
}

.underwater-rocks__header br {
  display: none;
}

@media (min-width: $tablet-width) {
  .underwater-rocks__wrapper {
    width: $tablet-width;
    padding-top: 68px;

    background-image: url(../img/underwater-rocks-bg-tablet.jpg);
  }

  .underwater-rocks__header {
    margin-bottom: 38px;

    font-size: 48px;
    line-height: 57px;
  }

  .underwater-rocks__header br {
    display: inline;
  }

  .underwater-rocks__video {

    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .underwater-rocks__wrapper {
    width: $desktop-width;
  }

  .underwater-rocks__header {
    font-size: 60px;
    line-height: 68px;
  }
}
