.video-location {
  position: relative;

  margin: 0 auto;
}

.video-location__image {
  box-shadow: 0px 25px 38px 0px rgba(0,0,0,0.48);
}

.video-location__caption {
  position: absolute;
  bottom: -51px;
  right: 0;

  width: 123px;

  font-size: 14px;
  line-height: 17px;
  color: #ffcfdf;
}

.video-location__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 52px;
  height: 52px;
  padding: 0;
  margin: 0;

  background-color: transparent;
  border: none;

  transform: translate(-50%,-50%);
}

.video-location__play-btn span {
  display: none;
}

.video-location__play-btn svg {
  fill: #ffffff;
}


@media (min-width: $tablet-width) {
  .video-location__play-btn {
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color: #ffffff;
  }

  .video-location__play-btn span {
    display: inline;
  }
}
