.video-location {
  position: relative;

  margin: 0 auto;
}

.video-location__image {
  box-shadow: 0px 25px 38px 0px rgba(0,0,0,0.48);
}

.video-location__caption {
  position: absolute;
  bottom: -51px;
  right: 0;

  width: 123px;
  margin: 0;

  font-size: 14px;
  line-height: 17px;
  color: #ffcfdf;
}

.video-location__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 52px;
  height: 52px;
  padding: 0;
  margin: 0;

  background-color: transparent;
  border: none;

  transform: translate(-50%,-50%);
}

.video-location__play-btn:hover {
  color: #e12457;
  cursor: pointer;
}

.video-location__play-btn:hover svg{
  filter: drop-shadow(0px 0px 5px rgba(225, 36, 87, 0.6));
}

.video-location__play-btn span {
  display: none;
}



.video-location__play-btn svg {
  fill: #ffffff;
}


@media (min-width: $tablet-width) {
  .video-location__play-btn {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color: #ffffff;
  }

  .video-location__play-btn span {
    display: inline;
  }

  .video-location__caption {
    bottom: -28px;
    right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .video-location__caption {
    top: 110px;
    right: -180px;
  }

  .video-location__caption::before {
    content: "";

    position: absolute;
    left: -144px;
    top: 33px;

    width: 118px;
    height: 1px;

    background-color: #ff9ebd;
  }
}
