html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;

  font-family: $font-primary;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #4c4c4c;
}

img {
  max-width: 100%;
  height: auto;
}

sup {
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 12px 38px;

  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;

  background-color: #e12457;
  border: none;
  border-radius: 999px;
}

.button:hover {
  box-shadow: 0 0 10px 5px rgba(255,36,87,0.3);
}

.button--light {
  width: 100%;
  padding: 16px 38px;

  font-size: 18px;
  color: #c2529a;

  background-color: #ffffff;
  box-shadow: 0 0 20px 10px rgba(255,255,255,0.6);
}

.button--light:hover {
  color: #e460b5;
  cursor: pointer;
  box-shadow: 0 0 20px 10px rgba(255,255,255,0.7);
}
